.animation__container {
  background: url("../assets/backgroundanimationpage.png"), no-repeat;
  background-size: cover;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10em;
}
.animation__container__center__piece {
  position: relative;
}
.animation__container__center__piece__button {
  background: linear-gradient(90deg, #363636, #000000);
  border: 5px solid #93c007;
  color: #93c007;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
}
.animation__container__center__piece__button:hover {
  animation: animation__container__center__piece__button 1s linear infinite;
}
@keyframes animation__container__center__piece__button {
  0% {
    border-width: 5px;
  }
  50% {
    border-width: 10px;
  }
  100% {
    border-width: 5px;
  }
}
.animation__container__center__piece__entry {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  width: 100px;
  cursor: pointer;
}
.animation__container__center__piece__entry__1
  .animation__container__center__piece__entry__line {
  width: 258px;
  height: 2px;
  transform: translateX(100px) translateY(70px) rotate(30deg);
}
@keyframes animation__container__center__piece__entry__1 {
  0% {
    opacity: 0;
    top: 0px;
    left: 0px;
  }
  100% {
    opacity: 1;
    top: -70px;
    left: -250px;
  }
}
.animation__container__center__piece__entry__2
  .animation__container__center__piece__entry__line {
  width: 90px;
  height: 2px;
  transform: translateX(48px) translateY(25px) rotate(15deg);
}
@keyframes animation__container__center__piece__entry__2 {
  0% {
    opacity: 0;
    top: 0px;
    left: 0px;
  }
  100% {
    opacity: 1;
    top: 40px;
    left: -160px;
    scale: 1.3;
  }
}
.animation__container__center__piece__entry__3
  .animation__container__center__piece__entry__line {
  width: 250px;
  height: 2px;
  transform: translateX(128px) translateY(12px) rotate(0deg);
}
@keyframes animation__container__center__piece__entry__3 {
  0% {
    opacity: 0;
    top: 0px;
    left: 0px;
  }
  100% {
    opacity: 1;
    top: 100px;
    left: -300px;
  }
}
.animation__container__center__piece__entry__4
  .animation__container__center__piece__entry__line {
  width: 145px;
  height: 2px;
  transform: translateX(67px) translateY(-8px) rotate(-15deg);
}
@keyframes animation__container__center__piece__entry__4 {
  0% {
    opacity: 0;
    top: 0px;
    left: 0px;
  }
  100% {
    opacity: 1;
    top: 180px;
    left: -220px;
    scale: 1.3;
  }
}
.animation__container__center__piece__entry__5
  .animation__container__center__piece__entry__line {
  width: 90px;
  height: 2px;
  transform: translateX(48px) translateY(-20px) rotate(-30deg);
}
@keyframes animation__container__center__piece__entry__5 {
  0% {
    opacity: 0;
    top: 0px;
    left: 0px;
  }
  100% {
    opacity: 1;
    top: 230px;
    left: -100px;
  }
}
.animation__container__center__piece__entry__6
  .animation__container__center__piece__entry__line {
  width: 83px;
  height: 2px;
  transform: translateX(0px) translateY(-20px) rotate(90deg);
}
@keyframes animation__container__center__piece__entry__6 {
  0% {
    opacity: 0;
    top: 0px;
    left: 0px;
  }
  100% {
    opacity: 1;
    top: 300px;
    left: 60px;
    scale: 1.3;
  }
}
.animation__container__center__piece__entry__7
  .animation__container__center__piece__entry__line {
  width: 140px;
  height: 2px;
  transform: translateX(-55px) translateY(-15px) rotate(25deg);
}
@keyframes animation__container__center__piece__entry__7 {
  0% {
    opacity: 0;
    top: 0px;
    left: 0px;
  }
  100% {
    opacity: 1;
    top: 230px;
    left: 260px;
  }
}
.animation__container__center__piece__entry__8
  .animation__container__center__piece__entry__line {
  width: 230px;
  height: 2px;
  transform: translateX(-110px) translateY(-18px) rotate(15deg);
}
@keyframes animation__container__center__piece__entry__8 {
  0% {
    opacity: 0;
    top: 0px;
    left: 0px;
  }
  100% {
    opacity: 1;
    top: 180px;
    left: 360px;
    scale: 0.9;
  }
}
.animation__container__center__piece__entry__9
  .animation__container__center__piece__entry__line {
  width: 40px;
  height: 2px;
  transform: translateX(-25px) translateY(8px) rotate(5deg);
}
@keyframes animation__container__center__piece__entry__9 {
  0% {
    opacity: 0;
    top: 0px;
    left: 0px;
  }
  100% {
    opacity: 1;
    top: 100px;
    left: 220px;
    scale: 1.1;
  }
}
.animation__container__center__piece__entry__10
  .animation__container__center__piece__entry__line {
  width: 220px;
  height: 2px;
  transform: translateX(-105px) translateY(22px) rotate(-5deg);
}
@keyframes animation__container__center__piece__entry__10 {
  0% {
    opacity: 0;
    top: 0px;
    left: 0px;
  }
  100% {
    opacity: 1;
    top: 40px;
    left: 380px;
  }
}
.animation__container__center__piece__entry__11
  .animation__container__center__piece__entry__line {
  width: 140px;
  height: 2px;
  transform: translateX(-60px) translateY(45px) rotate(-30deg);
}
@keyframes animation__container__center__piece__entry__11 {
  0% {
    opacity: 0;
    top: 0px;
    left: 0px;
  }
  100% {
    opacity: 1;
    top: -50px;
    left: 260px;
  }
}
.animation__container__center__piece__entry__line {
  z-index: -1;
  animation: animation__container__center__piece__entry__line 0.5s both;
  background-color: #93c007;
}
@keyframes animation__container__center__piece__entry__line {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
.animation__container__center__piece__entry__button {
  width: 20px;
  height: 20px;
  background-color: #93c007;
  border-radius: 50%;
  border: none;
  position: relative;
  cursor: pointer;
}
.animation__container__center__piece__entry__button::after {
  background-color: #92c00796;
  content: "";
  position: absolute;
  width: 190%;
  height: 190%;
  border-radius: 50%;
  top: -45%;
  left: -45%;
  z-index: -1;
}
.animation__container__center__piece__entry__button:hover::after {
  animation: animation__container__center__piece__entry__button 1s infinite
    ease-in-out;
}
@keyframes animation__container__center__piece__entry__button {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1.2);
  }
}
.animation__container__center__piece__entry__text {
  color: #2b2b2b;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  text-transform: capitalize;
}
.animation__popup__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 6em 0.5em;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.animation__popup {
  background-color: #0f0f0f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5em;
  border-radius: 20px;
  width: 100%;
  max-width: 450px;
  position: relative;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  animation: animation__popup 500ms both;
}
@keyframes animation__popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animation__popup__close {
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4em;
  background-color: #93c007;
  border: none;
  color: white;
  cursor: pointer;
}
.animation__popup__close:hover {
  background-color: rgb(255, 68, 68);
}
.animation__popup__heading {
  font-size: 25px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 1em;
  font-weight: bold;
  width: 100%;
}
.animation__popup__img {
  width: 100%;
  max-width: 100px;
  margin-bottom: 1em;
  border-radius: 100px;
}
.animation__popup__sub__heading {
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 2em;
  font-weight: bold;
  margin-top: -1em;
  width: 100%;
}
.animation__popup__info {
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: -1em;
  width: 100%;
}
.animation__popup__input {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1.5em;
  position: relative;
}
.animation__popup__input__label {
  font-size: 16px;
  color: white;
  margin-bottom: 0.5em;
}
.animation__popup__input__field {
  height: 45px;
  background-color: transparent;
  border: 1px solid #919191;
  padding: 0em 1em;
  border-radius: 8px;
  color: white;
}
.animation__popup__input__field::placeholder {
  color: white;
}
.animation__popup__input__field:focus {
  outline: 1px solid #93c007;
  border-color: #93c007;
}
.animation__popup__input__field option {
  color: #0f0f0f;
}
.animation__popup__input__error {
  color: red;
  font-size: 12px;
  position: absolute;
  margin-top: 0.5em;
  bottom: -18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}
.animation__popup__button {
  background-color: #93c007;
  color: white;
  padding: 0.8em 2em;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  border: none;
  margin-top: 1em;
}
.animation__popup__button:hover {
  background-color: #6c9100;
}
.success__message {
  color: white;
  font-size: 14px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1000px) {
  .animation__container__center__piece {
    scale: 0.8;
  }
  .animation__container {
    height: 600px;
  }
}
@media (max-width: 850px) {
  .animation__container__center__piece {
    scale: 0.7;
  }
}
@media (max-width: 700px) {
  .animation__container__center__piece {
    scale: 0.5;
  }
}
@media (max-width: 500px) {
  .animation__container__center__piece {
    scale: 0.35;
  }
  .animation__popup {
    padding: 2.5em 2em;
  }
}
