@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,400;1,500&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
.homesection {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}
.homesection__content__background {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  margin: 0px auto;
  display: flex;
  justify-content: cesnter;
}
.homesection__content__background__image img {
  object-fit: cover;
}
.homesection__content__heading {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.homesection__content__button {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: transparent;
  border: 1px solid #fff;
  font-size: 14px;
  color: #fff;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.homesection__content__button:hover {
  background-color: #fff;
  color: #000;
  transition: 0.5s;
}
.aboutus {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
.aboutus__content {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 0px;
}
.aboutus__content__heading {
  color: #1a2a43;
  font-size: 45px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.aboutus__content__text {
  color: #2e2e2e;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
  max-width: 1200px;
}
.aboutus__content__all__card {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.aboutus__content__card {
  background-color: #fff;
  max-width: 290px;
  justify-content: center;
  padding: 1em;
  margin-top: 3em;
  border-radius: 15px;
  color: #1a2a43;
  box-shadow: 0px 4px 68px 3px #f9f9f9;
}
.aboutus__content__card:hover {
  color: #fff;
  background: linear-gradient(90deg, #8db512 0%, #66840b 100%);

  box-shadow: 0px 4px 68px 3px #84aa10;
}
.aboutus__content__card:hover .aboutus__content__card__heading {
  color: #eeee;
}
.aboutus__content__card:hover .aboutus__content__card__text {
  color: #eeee;
}
.aboutus__content__card:hover img {
  mix-blend-mode: normal;
}
.aboutus__content__card img {
  margin-top: -2em;
  mix-blend-mode: luminosity;
}
.aboutus__content__card img:hover {
  mix-blend-mode: normal;
}
.aboutus__content__card__heading {
  color: #1a2a43;
  font-size: 20px;
  font-weight: 500;
  max-width: 280px;
  margin-bottom: 0.5em;
  font-weight: bold;
  margin-top: 0.5em;
}
.aboutus__content__card__text {
  color: #2e2e2e;
  font-size: 16px;
  font-weight: 500;
  max-width: 250px;
}
.services {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}
.services__content {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 5em;
}
.services__content__left {
  width: 30%;
  max-width: 320px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.services__content__heading {
  color: #1a2a43;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.services__content__left__content {
  padding: 3em 1em;

  border-radius: 15px;
  background: linear-gradient(180deg, #8db512 0%, #66840b 100%);
}
.services__content__left__content__heading {
  max-width: 320px;
  font-size: 22px;
  font-weight: 500;
  padding: 0.5em;
  color: #fff;
  cursor: pointer;
}
.services__content__left__content__heading:hover {
  background-color: #000;
  border-radius: 10px;
}
.services__content__right {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.services__content__right__content {
  max-width: 300px;
  padding: 1em;
}
.services__content__right__content__heading {
  font-size: 24px;
  color: #1a2a43;
  font-weight: bold;
}
.services__content__right__content__text {
  font-size: 16px;
}
.services__content__right__content__span {
  padding: 0.2em;
  max-width: 200px;
  border-radius: 10px;
  background-color: #8db512;
  margin: 0.8em 0em;
}
.services__background__img img {
  position: absolute;
  top: -5%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.industries {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
.industries__content__heading,
.transaction__heading,
.members__content__heading {
  color: #1a2a43;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.industries__content {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
}
.industries__content__left {
  width: 40%;
}

.industries__content__right {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.industries__content__right button {
  background-color: #efefef;
  color: #000;
  border: none;
  padding: 1em 2em;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 1em;
  margin: 0.5em;
  margin-left: 3em;
}
.industries__content__right button:hover {
  color: #f9f9f9;
  background: linear-gradient(174.33deg, #89b011 40.13%, #6d8e07 85.2%);
}
.industries__content__left__content__img img {
  width: 400px;
  margin: 0 auto;
  max-width: 400px;
}
.industries__content__left__content__img {
  display: flex;
}
.teamcard {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  margin-top: 6em;
  padding-top: 1em;
  padding-bottom: 6em;
}
.teamcard__content {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;

  padding-top: 2em;
}
.teamcard__content__heading {
  max-width: 1200px;
  margin: 0 auto;
  color: #6d8e07;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2.5em;
}
.teamcard__content__card {
  width: 30%;
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  border: #fff 1px solid;
  padding: 2em;
  border-radius: 15px;
  border-top: none;
  height: 215px;
  cursor: pointer;
}
.teamcard__content__card:hover {
  border: #6d8e07 1px solid;
  background: linear-gradient(90deg, #95c207 0%, #668600 100%);
}
.teamcard__content__card__content__svg {
  margin-bottom: 1em;
}
.teamcard__content__card:hover .teamcard__content__card__content__svg * {
  fill: #fff;
}

.teamcard__content__card__content__text {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  max-width: 250px;
}
.teamcard__content__all__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.teamcard__background img {
  position: absolute;
  top: -5%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.members {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  margin-top: 3em;
}
.members__content {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 3em;
}
.members__content__heading {
  margin-bottom: 2em;
}
.members__content__all__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
}
.members__content__card {
  width: 33%;
  background-color: #fff;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  border-radius: 15px;
  box-shadow: 4px 4px 71px -20px rgba(0, 0, 0, 0.25);
}
.members__content__card:hover {
  cursor: pointer;
  background: linear-gradient(90deg, #95c207 0%, #668600 100%);
  color: #fff;
}
.members__content__card:hover .members__content__card__links svg * {
  fill: #fff;
}
.members__content__card:hover .members__content__card__info {
  color: #fff;
}
.members__content__card:hover .members__content__card__text {
  color: #fff;
}
.members__content__card__links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.members__content__card__image,
.members__content__card__heading,
.members__content__card__info {
  display: flex;
  justify-content: center;
}
.members__content__card__image img {
  margin-top: -7em;
}
.members__content__card__heading {
  font-size: 22px;
  font-weight: bold;
}
.members__content__card__info {
  font-size: 16px;
  font-weight: 500;
  margin-top: 0.4em;
  color: #6d8e07;
}
.members__content__card__links {
  margin-top: 1em;
}
.members__content__card__links a {
  margin: 0 1em;
}
.members__content__card__text {
  margin-top: 1em;
  font-size: 16px;
  color: #2e2e2e;
}
.members__background__img img {
  padding-top: 3em;

  position: absolute;
  top: -5%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.transaction {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  margin-top: 3em;
}
.transaction__content {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 3em;
}
.transaction__card {
  width: 20%;
  max-width: 300px;
  border: 1px solid #000;
  border-radius: 15px;
  border-bottom: none;
  padding-right: 14em;
  height: 220px;
}
.transaction__card__text {
  font-size: 16px;
  font-weight: 500;
  color: #2e2e2e;
  margin-top: 1em;
  width: 200px;
}
.transaction__card__content {
  padding: 1em;
}
.swiper .swiper-initialized .swiper-horizontal .swiper-pointer-events {
  padding-right: 2em !important;
}
.transaction__card:hover .transaction__card__text {
  color: #fff;
}
.transaction__card:hover .transaction__card__svg svg * {
  fill: #fff;
}
.swiper-container {
  padding-right: 2em !important;
  padding-left: 2em !important;
}
.transaction__card:hover {
  box-shadow: 4px 4px 71px -20px rgba(0, 0, 0, 0.25);
  border: 1px solid #95c207;
  cursor: pointer;
  background: linear-gradient(90deg, #95c207 0%, #668600 100%);
  color: #fff;
}
