:root {
  --yellow: #628200;
  --maxwidth1: 1300px;
  --maxwidth2: 1300px;
  --maxwidth3: 1300px;
}

@font-face {
  font-family: "Bebas Kai Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Bebas Kai Regular"), url("./BebasKai-Regular.woff") format("woff");
}
*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  background-color: #6d8e07;
  border-radius: 50px;
}
body::-webkit-scrollbar-track {
  background-color: white;
}
.homesection {
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  background-color: #4d2b10;
}
.homesection__content__background {
  width: 100%;
  // height: 80vh;
  overflow: hidden;
  margin: 0px auto;
  display: flex;
  justify-content: center;
}
.homesection__content__background__image img {
  object-fit: cover;
}
.homesection__content__heading {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.homesection__content__info {
  color: #fff;
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.homesection__content__button {
  position: absolute;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: transparent;
  border: 1px solid #fff;
  font-size: 14px;
  color: #fff;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.homesection__content__button:hover {
  background-color: #fff;
  color: #000;
  transition: 0.5s;
}
.aboutus {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
.aboutus__content {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 0px;
}
.aboutus__content__heading {
  color: #1a2a43;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Bebas Kai Regular";
  padding-bottom: 0.5em;
}
.aboutus__content__text {
  color: #2e2e2e;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
  max-width: 1200px;
}
.aboutus__content__all__card {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.aboutus__content__card {
  background-color: #fff;
  max-width: 290px;
  justify-content: center;
  padding: 1em;
  margin-top: 3em;
  border-radius: 15px;
  color: #1a2a43;
  box-shadow: 0px 4px 68px 3px #f9f9f9;
}
.aboutus__content__card:hover {
  color: #fff;
  background: linear-gradient(90deg, #8db512 0%, #66840b 100%);

  box-shadow: 0px 4px 68px 3px #84aa10;
}
.aboutus__content__card:hover .aboutus__content__card__heading {
  color: #eeee;
}
.aboutus__content__card:hover .aboutus__content__card__text {
  color: #eeee;
}
.aboutus__content__card:hover img {
  mix-blend-mode: normal;
}
.aboutus__content__card img {
  margin-top: -2em;
  mix-blend-mode: luminosity;
}
.aboutus__content__card img:hover {
  mix-blend-mode: normal;
}
.aboutus__content__card__heading {
  font-family: "Bebas Kai Regular";
  color: #1a2a43;
  font-size: 20px;
  font-weight: 500;
  max-width: 280px;
  margin-bottom: 0.5em;
  font-weight: bold;
  margin-top: 0.5em;
}
.aboutus__content__card__text {
  color: #2e2e2e;
  font-size: 16px;
  font-weight: 500;
  max-width: 250px;
}
.services {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}
.services__content {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 5em;
}
.services__content__left {
  width: 30%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.services__content__heading {
  font-family: "Bebas Kai Regular";
  color: #1a2a43;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.services__content__left__content {
  padding: 3em 1em;
  border-radius: 15px;
  background: linear-gradient(180deg, #8db512 0%, #66840b 100%);
}
.services__content__left__content__heading {
  max-width: 400px;
  font-size: 22px;
  font-weight: 500;
  padding: 0.5em;
  color: #fff;
  cursor: pointer;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: "Bebas Kai Regular";
}
.services__content__left__content__heading:hover {
  background-color: #000;
  border-radius: 10px;
}
.services__content__left__content__heading__active {
  background-color: #1a2a43;
  border-radius: 10px;
}
.services__content__right {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.services__content__right__content {
  max-width: 360px;
  padding: 1em;
}
.services__content__right__content__heading {
  font-size: 24px;
  color: #1a2a43;
  font-weight: bold;
  font-family: "Bebas Kai Regular";
}
.services__content__right__content__text {
  font-size: 16px;
  padding: 0.3em;
}
.services__content__right__content__span {
  padding: 0.2em;
  max-width: 200px;
  border-radius: 10px;
  background-color: #8db512;
  margin: 0.8em 0em;
}
.services__background__img img {
  position: absolute;
  top: -5%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.industries {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
.industries__content__heading,
.transaction__heading,
.members__content__heading,
.clients__heading {
  font-family: "Bebas Kai Regular";
  color: #1a2a43;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.industries__content__heading {
  margin-top: 1em;
}
.industries__content {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
}
.industries__content__left {
  width: 40%;
}

.industries__content__right {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.industries__content__right button {
  background-color: #efefef;
  color: #000;
  border: none;
  padding: 1em 2em;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 1em;
  margin: 0.5em;
  margin-left: 3em;
  cursor: pointer;
  border: 2px solid #efefef;
}
.industries__content__right button:hover {
  border: #000 2px solid;
}
.industries__content__right__button__active {
  color: #f9f9f9 !important;
  border: 2px solid #84aa10 !important;
  background: linear-gradient(174.33deg, #89b011 40.13%, #6d8e07 85.2%);
}
.industries__content__left__content__img img {
  width: 400px;
  margin: 0 auto;
  max-width: 400px;
  mix-blend-mode: luminosity;
}
.industries__content__left__content__img {
  display: flex;
}
.teamcard {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  margin-top: 6em;
  padding-top: 1em;
  padding-bottom: 6em;
}
.teamcard__content {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;

  padding-top: 2em;
}
.teamcard__content__heading {
  font-family: "Bebas Kai Regular";
  max-width: 1200px;
  margin: 0 auto;
  color: #6d8e07;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2.5em;
}
.teamcard__content__card {
  width: 30%;
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  border: #fff 1px solid;
  padding: 2em;
  border-radius: 15px;
  border-top: none;
  height: 215px;
  cursor: pointer;
}
.teamcard__content__card:hover {
  border: #6d8e07 1px solid;
  background: linear-gradient(90deg, #95c207 0%, #668600 100%);
}
.teamcard__content__card__content__svg {
  margin-bottom: 1em;
}
.teamcard__content__card:hover .teamcard__content__card__content__svg * {
  fill: #fff;
}

.teamcard__content__card__content__text {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  max-width: 250px;
}
.teamcard__content__all__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.teamcard__background img {
  position: absolute;
  top: -5%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.para {
  margin-top: -6em;
}
.members {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  margin-top: 3em;
}
.members__content {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 3em;
}
.disable {
  display: none;
}
.members__content__all__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin-top: 1em;
}
.members__content__all__card .swiper {
  padding: 2em 1em;
}

.members__content__card {
  width: 100%;
  background-color: #fff;
  max-width: 100%;
  border: none;
  margin-right: 0em !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  border-radius: 15px;
  box-shadow: 4px 4px 71px -20px rgba(0, 0, 0, 0.25);
}
.members__content__card:hover {
  cursor: pointer;
  background: linear-gradient(90deg, #95c207 0%, #668600 100%);
  color: #fff;
}
.members__content__card:hover .members__content__card__links svg * {
  fill: #fff;
}
.members__content__card:hover .members__content__card__info {
  color: #fff;
}
.members__content__card:hover .members__content__card__text {
  color: #fff;
}
.members__content__card__links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.members__content__card__image,
.members__content__card__heading,
.members__content__card__info {
  display: flex;
  justify-content: center;
  text-align: center;
}
.members__content__card__image img {
  margin-top: -7em;
}
.members__content__card__heading {
  font-size: 25px;
  font-weight: bold;
  font-family: "Bebas Kai Regular";
}
.members__content__card__info {
  font-size: 14px;
  font-weight: 500;
  margin-top: 0.4em;
  color: #6d8e07;
}
.members__content__card__links {
  margin-top: 1em;
}
.members__content__card__links a {
  margin: 0 1em;
}
.members__content__card__text {
  margin-top: 1em;
  font-size: 14px;
  color: #2e2e2e;
}
.members__background__img img {
  padding-top: 3em;

  position: absolute;
  top: -5%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.transaction {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  margin-top: 3em;
}
.transaction__content {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 3em;
}
.transaction__card {
  width: 100%;
  border: 1px solid #000;
  border-radius: 15px;
  border-bottom: none;
}
.transaction__card__text {
  font-size: 16px;
  font-weight: 500;
  color: #2e2e2e;
  margin-top: 1em;
  width: 100%;
}
.transaction__card__content {
  padding: 1em;
}
.swiper .swiper-initialized .swiper-horizontal .swiper-pointer-events {
  padding-right: 2em !important;
}
.transaction__card:hover .transaction__card__text {
  color: #fff;
}
.transaction__card:hover .transaction__card__svg svg * {
  fill: #fff;
}
.swiper-container {
  padding-right: 2em !important;
  padding-left: 2em !important;
}
.transaction__card:hover {
  border: 1px solid #95c207;
  cursor: pointer;
  background: linear-gradient(90deg, #95c207 0%, #668600 100%);
  color: #fff;
}
.clients {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  margin-top: 3em;
}
.clients__content {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 3em;
}
.footer {
  background: linear-gradient(103.9deg, #050505 0.25%, #1e1e1e 100%);
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
.footer__content {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 3em;
}
.footer__content__left {
  width: 50%;
}
.footer__content__right {
  width: 30%;
  // display: flex;
  justify-content: center;
  align-items: center;
}
.footer__content__right__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__content__right__links__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  text-decoration: none;
  color: #fff;
}
.footer__content__right__links__item:hover {
  cursor: pointer;
  color: #95c207;
}
.footer__content__right__links__item__svg {
  margin-right: 1em;
}
.footer__content__right__links__item__info {
  font-size: 16px;
  font-weight: 500;
}
.hr {
  border-top: 1px solid #fff;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}

.footer__bottom__content__left a {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-right: 1em;
  text-decoration: none;
}
.footer__bottom__content {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__bottom__content__right * {
  color: #fff;
  text-decoration: none;
}
@media (max-width: 1300px) {
  .footer__content {
    justify-content: flex-start;
  }
  .footer__content__left {
    margin-left: 3em;
  }
}
@media (max-width: 1150px) {
  .footer__bottom__content {
    max-width: 900px;
  }
}
@media (max-width: 1050px) {
  .aboutus__content__all__card {
    max-width: 700px;
    justify-content: center;
  }
  .aboutus__content__text {
    max-width: 700px;
    font-size: 15px;
  }
  .aboutus__content__heading,
  .services__content__heading,
  .industries__content__heading,
  .transaction__heading,
  .clients__heading {
    font-family: "Bebas Kai Regular";
    font-size: 30px;
    margin-bottom: 0em;
  }
  .teamcard__content__heading {
    font-size: 25px;
  }
  .services__content {
    flex-direction: column;
  }
  .services__content__left__content {
    display: flex;
  }
  .services__content__left__content__heading {
    font-size: 16px;
  }
  .services__content__left {
    width: 100%;
    max-width: fit-content;
  }
  .services__content__left__content {
    padding: 1em;
  }
  .services__content__right {
    width: 90%;
    align-items: flex-start;
  }
  .services__content__right__content {
    max-width: 700px;
  }
}
@media (max-width: 950px) {
  .industries__content__left__content__img img {
    max-width: 400px;
    width: 300px;
  }

  .industries__content {
    flex-direction: column-reverse;
  }
  .industries__content__right {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .industries__content__right button {
    margin-left: 0em;
    font-size: 12px;

    width: 175px;
  }
  .industries__content__left__content__img {
    margin-top: 2em;
  }
  .teamcard__content__all__card {
    flex-direction: column;
  }
  .teamcard__content__card {
    margin-top: 3em;
  }
  .members__content {
    padding-bottom: 0em;
  }
  .members__content__card {
    margin-bottom: 9em;
  }
  .footer__content {
    flex-direction: column;
  }
  .footer__content__left {
    margin-left: 0em;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
  }
  .footer__content__right {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .footer__bottom__content {
    max-width: 600px;
    flex-direction: column;
    margin-top: 1em;
    text-align: center;
  }
  .hr {
    max-width: 600px;
  }
  .homesection__content__info {
    top: 65%;
  }
  .homesection__content__button {
    top: 78%;
  }
}
@media (max-width: 700px) {
  .aboutus__content__all__card {
    max-width: 500px;
    justify-content: center;
  }
  .aboutus__content__text {
    max-width: 500px;
    font-size: 15px;
  }
  .services__content__right__content__heading {
    font-size: 15px;
  }
  .services__content__right__content__text {
    font-size: 14px;
  }
  .teamcard__content__heading {
    margin-bottom: 0em;
  }
  .homesection__content__heading svg {
    width: 300px;
  }
  .homesection__content__background__image img {
    width: 1000px;
  }
  .aboutus__content {
    padding: 50px 0px;
  }
  .aboutus__content__text {
    padding-top: 1em;
  }
  .homesection__content__heading {
    top: 28%;
  }
  .homesection__content__info {
    top: 57%;
    width: 90%;
  }
  .homesection__content__button {
    top: 85%;
  }
}
@media (max-width: 500px) {
  .aboutus__content__all__card {
    max-width: 370px;
    justify-content: center;
  }
  .aboutus__content__text {
    max-width: 370px;
    font-size: 14px;
  }
  .industries__content__heading {
    margin-top: 0em;
  }
  .aboutus__content__heading,
  .services__content__heading,
  .industries__content__heading,
  .transaction__heading,
  .clients__heading {
    font-size: 22px;
  }
  .teamcard__content__heading {
    font-size: 20px;
    max-width: 370px;
  }
  .services__content__left__content__heading {
    font-size: 14px;
  }
  .services__content {
    width: 90%;
  }
  .industries__content__left__content__img img {
    width: 250px;
  }
  .swiper-slide .swiper-slide-active {
    margin-right: 0px !important;
  }
  .members__content__card:last-child {
    margin-bottom: 1em;
  }
  .hr {
    max-width: 300px;
  }
  .footer__content__left img {
    margin-left: 0em;
  }

  .footer__content__right__links__item__svg {
    margin-left: 1em;
  }
  .footer__content__right__links__item__info {
    font-size: 14px;
  }
  .footer__content__left img {
    width: 280px;
  }
  .footer__bottom__content__left a {
    font-size: 14px;
  }
  .footer__bottom__content__right {
    font-size: 14px;
  }
  .footer__content__right {
    margin-right: 2em;
  }
}
@media (max-width: 400px) {
  .services__content__left__content__heading {
    font-size: 12px;
  }
  .industries__content__right button {
    width: 160px;
  }
}
